[flake8]
ignore=
  # pycodestyle: https://pycodestyle.pycqa.org/en/latest/intro.html#error-codes
  # E203: whitespace before ‘,’, ‘;’, or ‘:’
  E203,
  # E231: missing whitespace after ‘,’, ‘;’, or ‘:’
  E231,
  # E501: line too long (82 > 79 characters)
  E501,
  # W503: line break before binary operator
  W503
exclude=.git,.github,__pycache__,.venv,venv,deploy, crawling, get_token.py, gym/setting, gym/tests.py, school_insert.py
max-line-length=100
max-complexity=10