secret.py
db.sqlite3
reminder/migrations/*
.pytest_cache
__pycache__
.idea
*.xml
*.json
*.bak
*.dat
*.dir
.env
.env.dev
.dockerignore
crawling/
!reminder/crawling
.env.prod
.env-prod.db
Dockerfile2
Dockerfile3
Dockerfile4
Dockerfile5